<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="mutate-local" value="C:\Users\jaredpar\temp\test\local-feed" />
  </packageSources>
  <packageSourceMapping>
    <packageSource key="mutate-local">
      <package pattern="Microsoft.CodeAnalysis" />
      <package pattern="Microsoft.CodeAnalysis.CSharp" />
      <package pattern="Microsoft.CodeAnalysis.VisualBasic" />
    </packageSource>
  </packageSourceMapping>
</configuration>