name: Publish NuGet Packages
on:
  workflow_dispatch:
    inputs:
      version:
        description: 'Package Version'
        required: true
        default: ''

jobs:
  publish:
    name: Publish NuGet
    runs-on: ubuntu-latest
    permissions:
      id-token: write  # enable GitHub OIDC token issuance for this job
    steps:
      - uses: actions/checkout@v2
      - name: Setup .NET
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: |
            10.0.x

      - name: Restore dependencies
        run: dotnet restore

      # Need to pass PackageVersion because it's embedded into the DLL.
      - name: Build
        run: dotnet build -c Release -p:PackageVersion="${{ github.event.inputs.version }}"

      - name: Pack
        run: dotnet pack --no-build -p:IncludeSymbols=false -p:RepositoryCommit=${GITHUB_SHA} -p:PackageVersion="${{ github.event.inputs.version }}" -c Release Basic.CompilerLog.slnx -o artifacts/nupkg

      # Get a short-lived NuGet API key for the publish step
      - name: NuGet Login
        uses: NuGet/login@v1
        id: nuget_login
        with:
          user: ${{ secrets.NUGET_PROFILE }}

      - name: Publish NuPkg Files
        run: dotnet nuget push "artifacts/nupkg/*.nupkg" --api-key ${{steps.nuget_login.outputs.NUGET_API_KEY}} -s https://api.nuget.org/v3/index.json

      - name: Create Tag and Release
        id: create_release
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: v${{ github.event.inputs.version }}
          release_name: Release v${{ github.event.inputs.version }}
          body: |
            Create release ${{ github.event.inputs.version }}
          draft: false
          prerelease: false
